html {
  background-color: slategray;
  overflow: hidden;
}

.droplet {
  border-right-width: 500px;
  font-size: 48px;
  text-align: center;
  margin-top: 50px;
  animation: 1s linear infinite rain;
}

@keyframes rain {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(90deg) translateX(110vh);
  }
}
